<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Checkerboard</title>
</head>
<h1>Checkerboard</h1>
<body>

    {% for num in range(y) %}
        {% if num%2 == 1 %}
        <div class="flex_parent">
            <div class="odd"></div>
            <div class="even"></div>
            <div class="odd"></div>
            <div class="even"></div>
            <div class="odd"></div>
            <div class="even"></div>
            <div class="odd"></div>
            <div class="even"></div>
        </div>

        {% else %}

        <div class="flex_parent">
            <div class="even"></div>
            <div class="odd"></div>
            <div class="even"></div>
            <div class="odd"></div>
            <div class="even"></div>
            <div class="odd"></div>
            <div class="even"></div>
            <div class="odd"></div>
        </div>
        {% endif %}
    {% endfor %}
</body>
</html>